/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0066cc;
  --ifm-color-primary-dark: #0052a3;
  --ifm-color-primary-darker: #004299;
  --ifm-color-primary-darkest: #003d7a;
  --ifm-color-primary-light: #3d8fff;
  --ifm-color-primary-lighter: #5299ff;
  --ifm-color-primary-lightest: #80b3ff;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4da6ff;
  --ifm-color-primary-dark: #3d95ff;
  --ifm-color-primary-darker: #2d84ff;
  --ifm-color-primary-darkest: #1a6fff;
  --ifm-color-primary-light: #66b3ff;
  --ifm-color-primary-lighter: #80bfff;
  --ifm-color-primary-lightest: #99ccff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
